<div class="container-panel">
  <div class="panel-option" style="width: 100px; white-space: normal !important">
    <p class="option-title">Upload</p>
    <div class="slot-vertical">
      <ion-button fill="clear" *ngIf="dark" style="height: 70px" (click)="uploadMultipleFiles()">
        <ion-icon style="width: 50px; height: 50px" slot="start" src="assets/icon/file-upload-icon-dark.svg"></ion-icon>
      </ion-button>
      <ion-button fill="clear" *ngIf="!dark" style="height: 70px" (click)="uploadMultipleFiles()">
        <ion-icon style="width: 50px; height: 50px" slot="start" src="assets/icon/file-upload-icon.svg"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="panel-option" style="width: 100px; white-space: normal !important">
    <p class="option-title">Save local</p>
    <div class="slot-vertical">
      <ion-button fill="clear" *ngIf="dark" style="height: 70px" (click)="sendSaveQuery()">
        <ion-icon style="width: 50px; height: 50px" slot="start" src="assets/icon/save-icon-dark.svg"></ion-icon>
      </ion-button>
      <ion-button fill="clear" *ngIf="!dark" style="height: 70px" (click)="sendSaveQuery()">
        <ion-icon style="width: 50px; height: 50px" slot="start" src="assets/icon/save-icon.svg"></ion-icon>
      </ion-button>
    </div>
  </div>
</div>
