<div class="demo-button-container">
  <button mat-raised-button (click)="addData()" class="demo-button">Add row</button>
</div>

<div class="demo-button-container">
  <button mat-raised-button (click)="addColumn()" class="demo-button">Add column</button>
  <button mat-raised-button [disabled]="!dataSource.length" (click)="removeColumn()" class="demo-button">
    Remove column
  </button>
</div>

<section class="example-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSource">
    @for (column of displayedColumns; track column; let i = $index) {
      @switch (column) {
        @case ('star') {
          <ng-container matColumnDef="star" stickyEnd>
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element; let rowIndex = index" (click)="removeRecord(rowIndex)">
              <mat-icon>delete_forever</mat-icon>
            </td>
          </ng-container>
        }
        @case ('sh') {
          <ng-container matColumnDef="{{ column }}" sticky>
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
          </ng-container>
        }
        @default {
          <ng-container matColumnDef="{{ column }}">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
          </ng-container>
        }
      }
    }
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
