
.example-container {
  display: flex;
  flex-direction: column; /* Asegura que el contenido interno esté alineado en columna */
  flex: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
  width: 100%; /* Usa todo el ancho disponible */
  overflow: auto; /* Habilita el scroll si el contenido excede el tamaño */
  height: 99%;
}
.mat-column-TRANSLATION_KEY {
  border-right: 1px solid currentColor;
  width: 225px;
  max-width: 225px !important;
  min-width: 225px !important;
  // background-color: red;
  input {
    border: none;

    width: 300px;
    &:focus {
      outline: none;
    }
  }
}
.mat-column-REMOVE_ICON {
  width: 25px;
  max-width: 25px !important;
  min-width: 25px !important;
  padding: 0px;
  // background-color: red;
}
[class*='mat-column-']:not([class*='mat-column-TRANSLATION_KEY']):not([class*='mat-column-REMOVE_ICON']) {
  input {
    border: none;

    width: 300px;
    &:focus {
      outline: none;
    }
  }
}
