.container {
  height: var(--global-height, 100px);
  padding: 1px;
}
// mat-card {
//   border: 1px solid black;
// }
mat-card.buttons {
  display: flex; /* Enable Flexbox on the card */
  flex-grow: 1; /* Allow the card to grow and fill the available space */
  flex-direction: row;
}
.button-section {
  border-right: 1px solid rgb(200, 198, 196);
  width: 86px;
  padding: 0px 5px 0px 0px;
  margin: 4px 4px 4px 4px; //top,right,bottom,left
}
button.image-button {
  height: 100%;
  width: 100%;
  div img {
    height: 32px;
    width: 32px;
  }
  div p {
    margin: 0;
    font-size: 12px;
  }
}
