<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Translations editor </ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="start" name="sunny-outline" *ngIf="!dark"></ion-icon>
      <ion-icon slot="start" name="moon-outline" *ngIf="dark"></ion-icon>
      <ion-label *ngIf="!dark" style="margin-inline-end: 0.3em"> Light Mode </ion-label>
      <ion-label *ngIf="dark" style="margin-inline-end: 0.3em"> Dark Mode </ion-label>
      <ion-toggle
        slot="end"
        class="custom-switch"
        mode="ios"
        [(ngModel)]="dark"
        [ngModelOptions]="{standalone: true}"
        checked="false"
        (ngModelChange)="enableDarkMode($event)"
      ></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment class="navigation-of-translator" value="file" [(ngModel)]="selected">
    <ion-segment-button value="file">
      <p>File</p>
    </ion-segment-button>
    <ion-segment-button value="language">
      <p>Language</p>
    </ion-segment-button>
    <ion-segment-button value="downloads">
      <p>downloads</p>
    </ion-segment-button>
    <ion-segment-button value="about">
      <p>About</p>
    </ion-segment-button>
  </ion-segment>
  <app-segments-panels [panelName]="selected"></app-segments-panels>

  <div class="ion-padding draggable">
    <table>
      <thead>
        <tr>
          <th class="first-column"></th>
          <th class="other-column" *ngFor="let v of theArrayHeaders">{{v}}</th>
        </tr>
      </thead>

      <tbody id="someInput" #someInput>
        <tr *ngFor="let _ of theArray; let i = index">
          <td class="first-column">
            <ion-button size="small" color="danger" (click)="deleteRow(i)">X</ion-button>
          </td>
          <td
            class="ionic-input other-column"
            style="min-width: 120px"
            *ngFor="let _ of theArray[i]; let j = index"
            [innerHTML]="theArray[i][j] | safeHTML"
          ></td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
